name: Lint, Format, and Type Check

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/lint-and-type-check.yml'
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - main
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/lint-and-type-check.yml'
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

env:
  FORCE_COLOR: 1
  UV_LOCKED: 1

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@bd01e18f51369d5a26f1651c3cb451d3417e3bba # v6.3.1
        with:
          enable-cache: false
          python-version: "3.14"

      - name: Install the project
        run: uv sync --all-extras

      - name: Run mypy
        run: uv run mypy .

      - name: Run ruff lint
        run: uv run ruff check .

      - name: Run ruff format
        run: uv run ruff format --check .